@import 'reset';
@import 'mixins';
@import 'animation';

body {
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    background-image: url("./img/bg.gif");
    color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-idiomas {
    @include flex-center(row);
    margin: 20px auto;
    grid-column: 2;
}

.container-vaievem {
    width: 50%;
}

//Cabeçalho
header {
    grid-column: 2;
    @include center-text;
    padding: 20px;
}

.titulo {
    @include flex-center(row);
    width: 80%;
    margin: 0 auto;
}

.titulo img {
    margin: 5px;
}

.titulo h1 {
    margin: 0 20px;
}

.subtitulo {
    @include flex-center(column);
    width: 100%;
    margin: 0 auto;
}

.idiomas {
    margin: 0 10px;
}

img {
    margin-bottom: 10px;
}

//Fontes
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.6vh;
}

pre {
    font-family: "Courier New", Courier, monospace;
}