@import 'reset';
@import 'mixins';
@import 'animation';
@import 'cursor';
@import 'header';
@import 'footer';


body {
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    background-image: url("./img/bg.gif");
    color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-idiomas {
    @include flex-center(row);
    margin: 20px auto;
    grid-column: 2;
}

.container-vaievem {
    width: 50%;
}

.idiomas {
    margin: 0 10px;
}

img {
    margin-bottom: 10px;
}

//Fontes
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5em 0;
}

h1 {
    font-size: clamp(1rem, 1.6vh + 0.5rem, 1.8rem);
}
pre {
    font-family: "Courier New", Courier, monospace;
}